---
layout: internal
---

{% assign sections = site.data.sitemap[5].children %}
{% assign news = site.data.articles %}

<section>
    <div class="container">
        <div class="row">

            <!-- MAIN ARTICLE -->
            <div class="col-lg-8">
                <article class="m-b-lg">
                    <h1 class="h2">{{ page.title }}</h1>
                    <p><date>12 AUGUST 2015</date></p>
                    <br>
                    <p class="img-right"><img width="100%" src="http://placehold.it/350x260" alt="..."></p>
                    {{ content }}
                </article>
            </div>

            <div class="spacer m-b-1 hidden-lg-up"></div>

            <!-- SIDEBAR -->
            <div class="col-lg-4">
                <div class="col-lg-offset-1">
                    <h3 class="m-b-1">Previous News</h3>
                    {% for item in news | limit: 3 %}
                        <a href="/blog/blog-item/">
                            <h4 class="h6 m-b-0 text-capitalize">{{ item.title }}</h4>
                            <small><date class="text-uppercase text-muted">{{ item.date }}</date></small>
                        </a>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>