---
layout: internal_landing
---

{% include section_get_quotes.html %}

{% include section_intro_video.html %}

<!-- INFOGRAPHIC -->
<section>
	<img width="100%" src="/img/content/infographic.jpg">
</section>

{% include testimonials.html %}

<!-- SIMPLE - TRANSPARENT - JOB LEADS -->
<section class="section section-dark inverse">
	<div class="container">
		<p>Note: loadshift.com.au is an online business service that specialises in the heavy load transport industry. It simply delivers your quotation request into transport businesses. Loadshift DOES NOT participate in any quotation, nor does it receive commissions. You deal directly with the transport carriers at all times.</p>
		<p>Carriers subscribe to this marketplace (on a monthly basis), to receive your quote request as a job lead into their businesses.</p>
		<br>
		<div class="container">
			<ul class="block-grid-xs-1 block-grid-md-3 text-xs-center long-strike-through">
				<li><span class="h2">SIMPLE</span></li>
				<li><span class="h2">QUICK</span></li>
				<li><span class="h2">FREE QUOTES</span></li>
			</ul>
		</div>
	</div>
</section>

