---
layout: internal
---

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a href="/how-it-works/shippers/">
					<div class="card">
					  <img class="card-img-top" width="100%" src="/img/content/hero-2.jpg" alt="Shippers">
					  <div class="card-block">
					    <h3 class="card-title">Shippers</h3>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <span class="btn btn-primary">Show Me</span>
					  </div>
					</div>
				</a>
			</div>
			<div class="col-md-6">
				<a href="/how-it-works/carriers/">
					<div class="card">
					  <img class="card-img-top" width="100%" src="/img/content/hero-2.jpg" alt="Shippers">
					  <div class="card-block">
					    <h3 class="card-title">Carriers</h3>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <span class="btn btn-primary">Show Me</span>
					  </div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>