---
layout: internal
---

<section class="section">
	<div class="container">

		<h2>FOR TRANSPORT CARRIERS</h2>
		<p>As a marketplace let Loadshift deliver more business into your business. Loadshift offers a unique service for Transport Carriers to advertise their location availability, while also receiving job leads for their services.</p>
		<p class="lead">Best of all... <strong>ZERO Commission!</strong></p>
		<div class="spacer m-b-2"></div>

		<div class="row">
			<div class="col-md-6">
				<h3>FIND TRUCKS – Availability Register</h3>
				<p>This is the venue to “post” (Advertise) your current or future truck/trailer location and availability. Let Shippers know in advance, the next destination that you will be available to load out of.</p>
				<p><img width="100%" src="/img/content/load-board.jpg"></p>
				<div class="spacer m-b-2"></div>
			</div>
			<div class="col-md-6">
				<h3>GET LOADS - LoadBoard</h3>
				<p>Receive &/or access transport job leads.
				Requests for transport services that are logged in Loadshift.com.au are automatically alerted to Loadshift subscribers by email &amp;/or sms.</p>
				<p>Transport Request sms alert sample:</p>
				<p><img class="img-fluid" src="/img/content/sms-alert.png" alt="SMS Alert Example"></p>
				<p>These quote requests may be viewed by logging into Loadshift and clicking on the GET Loads "LoadBoard."</p>
			</div>
		</div>

	</div>
</section>

<!-- WHICH ARE YOU? -->
<section class="section section-light m-b-1">
	<div class="container" style="max-width: 900px;">
		<h2 class="text-xs-center m-b-2 display-3">Which Are You?</h2>
		<div class="row">
			<div class="col-md-6">

				<!-- CARRIER -->
				<a href="/how-it-works/carriers/">
					<div class="card card-feature">
						<img class="card-img-top" width="100%" src="/img/content/carrier-i.jpg" alt="Carrier">
						<div class="card-block text-xs-center">
							<h3 class="h2 card-title m-b-0">Carrier</h3>
							<p class="card-text lead">Get Loads.</p>
							<span class="btn btn-primary btn-lg">Learn more</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6">

				<!-- SHIPPER -->
				<a href="/how-it-works/shippers/">
					<div class="card card-feature">
						<img class="card-img-top" width="100%" src="/img/content/shipper-i.jpg" alt="Shipper">
						<div class="card-block text-xs-center">
							<h3 class="h2 card-title m-b-0">Shipper</h3>
							<p class="card-text lead">Get quotes &amp; find trucks.</p>
							<span class="btn btn-primary btn-lg">Learn more</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<!-- REGISTER -->
<section class="section">
	<div class="container">
		<p class="text-xs-center m-b-2"><a class="btn btn-success btn-lg" href="/membership/">REGISTER NOW</a></p>
		<small><b>NOTE:</b> Loadshift.com.au is an online business service that specializes in the heavy road transport industry. It simply delivers prospective business into transport businesses. Loadshift DOES NOT participate in any quotation, NOR does it receive commissions. You deal directly with the customer at all times.</small>
	</div>
</section>