---
layout: internal_landing
---

<!-- SUBSCRIPTION OPTIONS -->
<section class="section">
	<div class="container">
		<h2>Subscription Options</h2>
		<p>Transport Carrier may obtain access to the LoadBoard (Get Loads). Truck availability register (incl. trucks) &amp; other resources by purchasing one of the following.</p>
		<br>
		<ul class="block-grid-xs-1 block-grid-md-3">
			<li>
				<div class="card text-xs-center">
					<div class="card-header"><strong>1 Month</strong></div>
					<div class="card-block">
						<h4 class="card-title display-2">$66</h4>
						<p class="card-text">(AUD $2.20 per day)</p>
						<a href="#" class="btn btn-primary">Subscribe</a>
					</div>
				</div>
			</li>
			<li>
				<div class="card text-xs-center">
					<div class="card-header"><strong>3 Months</strong></div>
					<div class="card-block">
						<h4 class="card-title display-2">$176</h4>
						<p class="card-text">(AUD $1.96 per day)</p>
						<a href="#" class="btn btn-primary">Subscribe</a>
					</div>
				</div>
			</li>
			<li>
				<div class="card text-xs-center">
					<div class="card-header"><strong>6 Months</strong></div>
					<div class="card-block">
						<h4 class="card-title display-2">$319</h4>
						<p class="card-text">(AUD $1.77 per day)</p>
						<a href="#" class="btn btn-primary">Subscribe</a>
					</div>
				</div>
			</li>
		</ul>
		<br>
		<p>(Includes GST &amp; all SMS)<br>
		Payments are accepted over 256-bit SSL encryption.<br>
		Visa &amp; MasterCard Accepted.</p>
		<p>
			<img src="/img/content/visa.gif" alt="Visa">&nbsp;
			<img src="/img/content/mastercard.gif" alt="MasterCard">
		</p>
		<p>Please contact Loadshift if an alternative payment method is desired. <br> <i>(Sorry, no accounts)</i></p>
	</div>
</section>

{% include section_test_drive.html %}