---
layout: internal_landing
---

{% assign services = site.data.services | sort: "title" %}

{% include section_get_quotes.html %}

<!-- FIND TRUCKS -->
<section class="section section-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2>Find Trucks</h2>
				<p>Click on a map listing to obtain the current or future location of a carrier.<br>
				Use the nominated contact details to deal directly.</p>
				<div class="spacer m-b-1 hidden-lg-up"></div>
			</div>
			<div class="col-lg-5 col-lg-offset-1">
				{% include snippets/google_map.html %}
			</div>
		</div>
	</div>
</section>

{% include section_intro_video.html %}

<!-- SIMPLE - TRANSPARENT - JOB LEADS -->
<section class="section section">
	<div class="container">
		<p>Note: loadshift.com.au is an online business service that specialises in the heavy load transport industry. It simply delivers your quotation request into transport businesses. Loadshift DOES NOT participate in any quotation, nor does it receive commissions. You deal directly with the transport carriers at all times.</p>
		<p>Carriers subscribe to this marketplace (on a monthly basis), to receive your quote request as a job lead into their businesses.</p>
		<br>
		<div class="container">
			<ul class="block-grid-xs-1 block-grid-md-3 text-xs-center long-strike-through">
				<li><span class="h2">SIMPLE</span></li>
				<li><span class="h2">QUICK</span></li>
				<li><span class="h2">FREE QUOTES</span></li>
			</ul>
		</div>
	</div>
</section>