---
layout: internal_landing
---

{% assign services = site.data.services | sort: "title" %}

<!-- GET QUOTES -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<h2>Get Quotes</h2>
				<p>Receive quotations for transport services by posting your request for quotation.</p>
				<p>It's as easy as:</p>

				<!-- BOLD -->
				<h2><span class="circle">1</span> Phoning <a href="tel:1300562374">1300 56 23 74</a></h2>
				<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR</h2>
				<h2><span class="circle">2</span> Completing our simple online form</h2>

				<p>Once your quote request has been posted, It is added to the "Loadboard" and then alerted to the loadshift community.</p>
				<p>Thoes carriers that may be of assistance respond directly to you with quotation (Varing price &amp; Avaliability).</p>

				<h3>You deal with whoever you choose.</h3>

		</div>
		<div class="col-md-4">

			{% include form_quote.html %}

		</div>
	</div>
</section>

<!-- FIND TRUCKS -->
<section class="section section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Find Trucks</h2>
				<p>Click on a map listing to obtain the current or future location of a carrier. Use the nominated contact details to deal directly.</p>
			</div>
			<div class="col-md-5 col-md-offset-1">
				{% include snippets/google_map.html %}
			</div>
		</div>
	</div>
</section>

{% include section_intro_video.html %}

<!-- SIMPLE - TRANSPARENT - JOB LEADS -->
<section class="section section">
	<div class="container">
		<p>Note: loadshift.com.au is an online business service that specialises in the heavy load transport industry. It simply delivers your quotation request into transport businesses. Loadshift DOES NOT participate in any quotation, nor does it receive commissions. You deal directly with the transport carriers at all times.</p>
		<p>Carriers subscribe to this marketplace (on a monthly basis), to receive your quote request as a job lead into their businesses.</p>
		<br>
		<div class="container">
			<ul class="block-grid-xs-1 block-grid-md-3 text-xs-center long-strike-through">
				<li><span class="h2">SIMPLE</span></li>
				<li><span class="h2">QUICK</span></li>
				<li><span class="h2">FREE QUOTES</span></li>
			</ul>
		</div>
	</div>
</section>