/*
    STAGE.CSS

    - Last updated: 22.04.16
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// DO NOT REMOVE
//-----------------------------------------------------------------

html {
    // background: #27272F;
    overflow-x: hidden; // locked
}

html, body {
    height: 100%; // removes all flickers at bottom - eg body color
}

button, .btn {
    @extend .lv-unselectable;
}

//-----------------------------------------------------------------
// Stage Loader
//-----------------------------------------------------------------

.lv-stage {
    position: relative;
    min-height: 100vh; // fixes scrollbars
    padding-top: $lv-topbar-height-small; // see below
    background: $gray-light;
    // overflow: hidden;
    z-index: 50;

    // Keep padding unaffected by menu state
    @include media-breakpoint-up(md) {
        padding-top: $lv-topbar-height-medium;
        padding-bottom: 44px;
    }
}

//-----------------------------------------------------------------
// Is Open
//-----------------------------------------------------------------

.menu-is-open .lv-stage {
    @include media-breakpoint-up(md) {
        width: calc(100% - #{$app-menu-width-medium}); // animation too heavy
        min-height: calc(100vh - #{$lv-stage-top-offset} - #{$lv-footer-height}); // fixes scrollbars
    }
}

//-----------------------------------------------------------------
// iframe Loader
//-----------------------------------------------------------------

.lv-iframe-loader {
    position: absolute; // locked
    top: $lv-topbar-height-medium;
    bottom: 0;
    width: 100%;
    min-height: calc(100vh - #{$lv-topbar-height-medium} - #{$lv-stage-top-offset});
    border: 0;
    // height: calc(100vh - #{$lv-stage-top-offset});
    -webkit-overflow-scrolling: touch;
    // z-index: 51;
}

//-----------------------------------------------------------------
// Motion
//-----------------------------------------------------------------

.lv-topbar,
.lv-stage,
.lv-footer {
    transition: transform 300ms ease, min-height 300ms ease, width 300ms ease;
}

.lv-topbar,
.lv-stage {
    transform: translate(0, 0);
}

.menu-is-open .lv-topbar,
.menu-is-open .lv-stage {
    // transform: translate(0,0);

    @include media-breakpoint-up(md) {
        transform: translate($app-menu-width-medium, $lv-stage-top-offset);
    }
}

.menu-is-open .lv-footer {
    @include media-breakpoint-up(md) {
        transform: translate(0, -$lv-footer-height);
    }
}

//-----------------------------------------------------------------
// Stage Loader
//-----------------------------------------------------------------



//=========================================
//
//=========================================