<!-- IF SUCCESS -->
<div class="alert alert-success" hidden>
    <h4>Success!</h4>
    <p>Your form has been submitted.</p>
</div>

<!-- IF FAILURE -->
<div class="alert alert-danger alert-dismissible fade in" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4>Oops!</h4>
    <p>Something went wrong. Please check your details.</p>
</div>

<form data-toggle="validator">

    <!-- PICKUP SUBURB -->
    <fieldset class="form-group">
        <label for="pickup-suburb">Pickup Suburb</label>
        <select class="form-control c-select" id="pickup-suburb">
            <option>...</option>
            <option>...</option>
            <option>...</option>
            <option>...</option>
            <option>...</option>
        </select>
    </fieldset>

    <!-- DELIVERY SUBURB -->
    <fieldset class="form-group">
        <label for="delivery-suburb">Delivery Suburb</label>
        <select class="form-control c-select" id="delivery-suburb">
            <option>...</option>
            <option>...</option>
            <option>...</option>
            <option>...</option>
            <option>...</option>
        </select>
    </fieldset>

    <!-- DELIVERY SUBURB -->
    <fieldset class="form-group">
        <label for="cargo-category">Cargo Category</label>
        <select class="form-control c-select" id="cargo-category">
            <option>...</option>
            <option>...</option>
            <option>...</option>
            <option>...</option>
            <option>...</option>
        </select>
    </fieldset>

    <!-- CARGO DESC -->
    <fieldset class="form-group">
        <label for="cargo-desc">Cargo Description</label>
        <input class="form-control" id="cargo-desc" type="text" placeholder="" required>
        <small class="error">Your description is required.</small>
    </fieldset>

    <!-- SUBMIT -->
    <div class="text-xs-right">
        <button type="submit" class="btn btn-primary">Get Quotes</button>
    </div>

</form>