{% assign settings = site.data.settings %}
{% assign logo = "/img/content/logo-white.svg" %}

<div class="container">
    <div class="display-table">
        <div class="display-cell">

            <!-- Logo -->
            <a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
                <img src="{{ logo }}" alt="{{ settings.company_title }}" itemprop="logo">
            </a>

            <!-- Counter -->
            <div class="counter hidden-md-down">
                <span class="number">198,001</span>
                <span class="km">km</span>
                <span class="text">of requested transport added in the last 24hrs.</span>
            </div>

            <!-- Menu -->
            <div class="global-menu">
                <a class="global-menu-btn hamburger"><span>Menu</span><i class="fa fa fa-navicon hidden-sm-down"></i></a>
                <a class="global-menu-btn" data-toggle="modal" data-target="#myModal"><span class="hidden-sm-down">Login</span><i class="fa fa fa-user"></i></a>
            </div>

        </div>
    </div>
</div>