<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Members Login</h4>
			</div>
			<div class="modal-body">

				<section class="login-panel text-xs-center animated fadeInDown p-y-3">

					<!-- IF SUCCESS -->
					<div class="alert alert-success" hidden>
						<h4>Success!</h4>
						<p>Your form has been submitted.</p>
					</div>

					<!-- IF FAILURE -->
					<div class="alert alert-danger alert-dismissible fade in" role="alert" hidden>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4>Oops!</h4>
						<p>Something went wrong. Please check your details.</p>
					</div>

					<form data-toggle="validatorX" class="modal-login">

						<!-- NAME -->
						<fieldset class="form-group">
							<label for="name"><i class="fa fa-user"></i> Username*</label>
							<input class="form-control" id="name" type="text" placeholder="" maxlength="255" autocapitalize="off" required>
							<small class="error" hidden>Your name is required.</small>
						</fieldset>

						<!-- PASSWORD -->
						<fieldset class="form-group">
							<label for="password"><i class="fa fa-key"></i> Password*</label>
							<input class="form-control" id="password" type="password" placeholder="" required>
							<small class="error" hidden>A valid password is required.</small>
						</fieldset>

						<!-- FORGOT LOGIN -->
						<p class="text-xs-right"><a class="forgot-password" href="#password-reset">Forgot login?</a></p>

						<!-- REMEMBER ME -->
						<div class="remember-me text-xs-left">
							<input id="remember-me" name="remember-me" type="checkbox">&nbsp; <label for="remember-me">Remember me</label>
						</div>
					</form>

			</div>
			<div class="modal-footer">

				<!-- SUBMIT -->
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Proceed</button>
			</div>
		</div>
	</div>
</div>