<!-- 7 DAY TEST DRIVE -->
<section class="section section-dark inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6 text-xs-center">

                <!-- Control IMG size with cols -->
                <div class="col-lg-9 col-xl-7">
                    <img width="100%" src="/img/content/7-day-trial-white-trimmed.png" alt="7 Day Free Test Drive">
                    <div class="spacer m-b-2 hidden-md-up"></div>
                </div>

            </div>
            <div class="col-md-6 col-md-pull-6 text-xs-center">
                <h2>Never Used Loadshift Before?</h2>
                <br>
                <h3 class="h4">Take the Test Drive - Obligation Free</h3>
                <br>
                <p><a href="#" class="btn btn-primary btn-lg p-x-2">REGISTER NOW</a></p>
                <br>
                <small>*This offer is only available to transport carriers who are registering for the first time.</small>
            </div>
        </div>
    </div>
</section>