<!-- 7 DAY TEST DRIVE -->
<section class="section section-dark inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-xs-center">
                <h2>Never Used Loadshift Before?</h2>
                <br>
                <h3 class="h4">Take the Test Drive - Obligation Free</h3>
                <br>
                <p><a href="#" class="btn btn-primary btn-lg p-x-2">REGISTER NOW</a></p>
                <br>
                <small>*This offer is only available to transport carriers who are registering for the first time.</small>
            </div>
            <div class="col-md-3 col-md-offset-1 text-xs-center">
                <img width="100%" src="/img/content/7-day-trial-white-trimmed.png">
            </div>
        </div>
    </div>
</section>