<!-- VIDEO SECTION -->
<section class="section section-dark inverse">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-lg-4">
				<h2 class="display-3">Loadshift</h2>
				<h3 class="display-4">The Place Where Transport Does Business!</h3>
				<div class="spacer m-b-1 hidden-md-up"></div>
			</div>
			<div class="col-md-7 col-lg-8">
				<iframe class="video-embed"
				        width="100%"
				        frameborder="0"
				        src="https://www.youtube.com/embed/TkqLAkNK1vA?rel=0&amp;controls=0&amp;showinfo=1">
				</iframe>
			</div>
		</div>
	</div>
</section>