<!-- GET QUOTES -->
<section id="get-quotes" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Get Quotes</h2>
                <p>Receive quotations for transport services by posting your request for quotation.</p>
                <p>It's as easy as:</p>
                <p class="h4"><span class="number-bullet">1</span>&nbsp; Phoning <a href="tel:1300562374">1300 56 23 74</a></p>
                <p class="h4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>OR</b></p>
                <p class="h4"><span class="number-bullet">2</span>&nbsp; Completing our simple online form</p>
                <br>
                <p>Once your quote request has been posted, It is added to the "Loadboard" and then alerted to the loadshift community.</p>
                <p>Thoes carriers that may be of assistance respond directly to you with quotation (Varing price &amp; Avaliability).</p>
                <br>
                <h3 class="m-b-1">You deal with whomever you choose.</h3>
            </div>
            <div class="col-md-6 col-lg-5">
                <h3 class="m-b-1">Try It Free</h3>
                {% include form_quote.html %}
            </div>
        </div>
    </div>
</section>