<!-- TESTIMONIALS -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>A Word From Our Users...</h2>
                <ul class="carousel">
                    {% for item in site.data.testimonials %}
                    <li>
                        <blockquote class="blockquote">
                            <p class="m-b-0">{{ item.body }}</p>
                            <footer class="blockquote-footer pull-xs-right">
                                <div class="text-xs-left">
                                    <b>{{ item.cite }}</b><br><cite title="Source Title">{{ item.cite_subtitle }}</cite>
                                </div>
                            </footer>
                        </blockquote>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-sm-down">
                <div class="text-xs-right">

                    <!-- GET QUOTES BTN -->
                    <a class="btn-promo m-b-1" href="/text-page/">
                        <span class="btn-promo-bg" style="background-image: url(/img/content/find-trucks-feature.jpg);"></span>
                        <div class="btn-promo-fill">
                            <h3 class="btn-promo-header">
                                <span class="text">Get<br> Quotes</span>
                            </h3>
                        </div>
                    </a>

                    <!-- GET QUOTES -->
                    <a class="btn-promo m-b-1" href="/text-page/">
                        <span class="btn-promo-bg" style="background-image: url(/img/content/get-quotes-feature.jpg);"></span>
                        <div class="btn-promo-fill">
                            <h3 class="btn-promo-header">
                                <span class="text">Find<br> Trucks</span>
                            </h3>
                        </div>
                    </a>

                    <!-- GET LOADS -->
                    <a class="btn-promo m-b-1" href="/text-page/">
                        <span class="btn-promo-bg" style="background-image: url(/img/content/get-loads-feature.jpg);"></span>
                        <div class="btn-promo-fill">
                            <h3 class="btn-promo-header">
                                <span class="text">Get<br> Loads</span>
                            </h3>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>