{% assign hero = "/img/content/hero-3.jpg" %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero is-full-screen">

        <!-- Hero Item -->
        <div class="lv-hero-item" style="background-image: url('{{ hero | prepend: site.assets }}')" data-background-image="{{ hero | prepend: site.assets }}">
            <div class="display-table">
                <div class="display-cell align-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="lv-hero-item-caption animated fadeInLeft text-xs-center">

                                    <!-- Mandatory -->
                                    <h1>Access Loadshift<br> from Less Than<br> $2 per Day!</h1>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-lg">New Registration</a>
                                    <span>&nbsp;&nbsp;OR&nbsp;&nbsp;</span>
                                    <a href="#" class="btn btn-primary btn-lg">Existing User</a>
                                    <div class="spacer m-b-1"></div>
                                    <small>* NOTE: If your onlu requirement is to get quotes for transport, then no membership is required</small>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- .lv-hero -->
</div> <!-- ./lv-hero-wrapper -->