{% assign hero = "/img/content/hero/iStock_32547428_LARGE_CatLoaderOnTruckDirtRoad 2-extended.jpg" %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero is-full-screen">

        <!-- HERO ITEM -->
        <div class="lv-hero-item" style="background-image: url('{{ hero | prepend: site.assets }}')" data-background-image="{{ hero | prepend: site.assets }}">
            <div class="display-table">
                <div class="display-cell align-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">

                                <!-- HERO CAPTION -->
                                <div class="lv-hero-item-caption animated fadeInLeft text-xs-center">
                                    <h1>Get Loads</h1>
                                    <p class="lead">Loadshift delivers more business into your business. Best of all... ZERO commission.</p>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-lg">Register</a>
                                    <span>&nbsp;&nbsp;OR&nbsp;&nbsp;</span>
                                    <a href="#" class="btn btn-primary btn-lg">Login</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- ./lv-hero -->
</div> <!-- ./lv-hero-wrapper -->