{% assign hero = "/img/content/hero-1.jpg" %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero is-full-screen">

        <!-- HERO ITEM -->
        <div class="lv-hero-item" style="background-image: url('{{ hero | prepend: site.assets }}')" data-background-image="{{ hero | prepend: site.assets }}">
            <div class="display-table">
                <div class="display-cell align-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-lg-7 col-lg-offset-4 col-xl-offset-5">

                                <!-- HERO CAPTION -->
                                <div class="lv-hero-item-caption animated fadeInLeft text-xs-center">
                                    <h1>Heavy Haulage Quotes</h1>
                                    <p class="lead">Receive quotations for transport services</p>
                                    <a href="#get-quotes" class="btn btn-primary btn-lg">Try It Free</a>
                                    <br>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- .lv-hero -->

    <!-- HERO ADDITION -->
    <div class="hero-addition p-y-0">
        <div class="container">

            <!-- FEATURE ICONS -->
            <ul class="block-grid-xs-2 block-grid-md-4">
                <li><img width="100%" src="/img/content/feature-icon-1.png" alt="Find Transport &amp; Loads Fast"></li>
                <li><img width="100%" src="/img/content/feature-icon-2.png" alt="Australia Wide Coverage"></li>
                <li><img width="100%" src="/img/content/feature-icon-3.png" alt="0% Commission"></li>
                <li><img width="100%" src="/img/content/feature-icon-4.png" alt="Cutout the Middleman"></li>
            </ul>

        </div>
    </div>

</div> <!-- /.lv-hero-wrapper -->