{% comment %}
    LIQUIDVISUAL-HERO

    - updated: 24.06.16
    - notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height
{% endcomment %}

{% assign hero = page.hero %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero is-full-screen">

        <!-- Hero Item -->
        <div class="lv-hero-item" style="background-image: url('{{ hero | prepend: site.assets }}')" data-background-image="{{ hero | prepend: site.assets }}">
            <div class="display-table">
                <div class="display-cell align-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-lg-7 col-lg-offset-4 col-xl-offset-5">

                                <!-- HERO CAPTION -->
                                <div class="lv-hero-item-caption animated fadeInLeft text-xs-center">
                                    <h1>Australia's Leading Heavy Haulage Transport Marketplace</h1>
                                    <p class="lead strike-through m-b-0">Connecting Shippers &amp; Carriers</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- .lv-hero -->
</div> <!-- .lv-hero-wrapper -->