/*
    HOMEPAGE.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Homepage
//-----------------------------------------------------------------

.hero-feature-panels {
	width: 100%;

	@include media-breakpoint-up(lg) {
	    position: absolute;
	    bottom: 0;
	}

	.container {
		background: white;
	}

	// .container {
	// 	max-width: 1180px;
	// 	background: white;
	// 	// padding: rem-calc(15);
	// 	// padding: 15px 7px;
	// 	// padding-top: 14px;

	// 	.col-md-4 {
	// 	    padding: 0 7px;
	// 	}
	// }

	a {
		@include media-breakpoint-down(sm) {
		    display: inline-block;
		    margin-bottom: $spacer-y;
		}
	}

	img {
		// border: 10px solid white;
		width: 100%;
		// display: block;
		// margin: 10px;
	}
}

//=========================================
//
//=========================================