<style>
	.icon-font {
		background: white;
		height: 200px;
		line-height: 200px;
		padding: 10px;
		overflow: hidden;
		text-align: center;
	}
</style>

<div style="padding:50px 60px; max-width: 1200px;">

	<h2>Assets</h2><br>


	<h3>Fonts</h3>

	<ul class="block-grid-lg-5 mobile-grid">
		
			<li>
				<div class="icon-font"><div class="fa fa-font"></div></div>/builder-app/scripts/app.js
			</li>
		
			<li>
				<div class="icon-font"><div class="fa fa-font"></div></div>/builder-app/scripts/login.js
			</li>
		
			<li>
				<div class="icon-font"><div class="fa fa-font"></div></div>/builder-app/scripts/vendor/md5.js
			</li>
		
			<li>
				<div class="icon-font"><div class="fa fa-font"></div></div>/builder-app/scripts/vendor/pxgradient-1.0.3.js
			</li>
		
			<li>
				<div class="icon-font"><div class="fa fa-font"></div></div>/robots.txt
			</li>
		
	</ul>


</div>








<!-- https://codepen.io/herschel666/post/scaling-iframes-css-transforms -->



