<style>
    .has-children {
        background: #DDE3EC;
        padding: 15px;
        border-radius: 4px;
        /*border: 1px solid red;*/
        overflow: hidden;
        position: relative;
    }
</style>

<h2>Settings</h2><br>

<p>The following properties are accessible via <code>site.data.settings</code></p><br>

<form style="max-width: 600px;">
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Cname</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="loadshift.yourwebvisual.com">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Title</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="Loadshift">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Seo title</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="Loadshift - Australia's Heavy Haulage Transport Marketplace">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Company</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="Loadshift">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Description</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="Loadshift is Australia's Leading Heavy Haulage Transport Marketplace">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Github repo</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="https://github.com/liquidvisual/loshift-0516/blob/master/">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Email</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="contact@loadshift.com.au">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Phone</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="1300 562 374">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Sms</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="(02) 4587 7560">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Fax</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="(02) 4587 7560">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Abn</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="79003633224">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="has-children">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Offices</label>
                <div class="col-sm-8">

                    
                        <a href="#">Expand <i class="fa fa-caret-down"></i></a>
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
                 
                     
                           <div class="form-group row">
                             <label for="inputPassword" class="col-sm-4 form-control-label">Title</label>
                             <div class="col-sm-8">
                               <input type="text" class="form-control" id="inputPassword" placeholder="text" value="Sydney">
                             </div>
                           </div>
                     
                           <div class="form-group row">
                             <label for="inputPassword" class="col-sm-4 form-control-label">Address</label>
                             <div class="col-sm-8">
                               <input type="text" class="form-control" id="inputPassword" placeholder="text" value="P.O. Box 349<br>Windsor NSW, 2756">
                             </div>
                           </div>
                     
                 
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Facebook</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="https://www.facebook.com/loadshift/">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Youtube</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="https://www.youtube.com/user/terex4066">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Google plus</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Google map</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Google analytics</label>
                <div class="col-sm-8">

                    
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="UA-XXXXXXXX-X">
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
        </section>
    
        <!-- Second Level -->
        

        <section class="has-children">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">Author</label>
                <div class="col-sm-8">

                    
                        <a href="#">Expand <i class="fa fa-caret-down"></i></a>
                    

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             
                 
                     
                           <div class="form-group row">
                             <label for="inputPassword" class="col-sm-4 form-control-label">Title</label>
                             <div class="col-sm-8">
                               <input type="text" class="form-control" id="inputPassword" placeholder="text" value="Digital Momentum">
                             </div>
                           </div>
                     
                           <div class="form-group row">
                             <label for="inputPassword" class="col-sm-4 form-control-label">Url</label>
                             <div class="col-sm-8">
                               <input type="text" class="form-control" id="inputPassword" placeholder="text" value="http://digitalmomentum.com.au">
                             </div>
                           </div>
                     
                           <div class="form-group row">
                             <label for="inputPassword" class="col-sm-4 form-control-label">Logo</label>
                             <div class="col-sm-8">
                               <input type="text" class="form-control" id="inputPassword" placeholder="text" value="">
                             </div>
                           </div>
                     
                           <div class="form-group row">
                             <label for="inputPassword" class="col-sm-4 form-control-label">Description</label>
                             <div class="col-sm-8">
                               <input type="text" class="form-control" id="inputPassword" placeholder="text" value="Website by Digital Momentum">
                             </div>
                           </div>
                     
                 
             
        </section>
    
</form>
