<div style="padding:50px 60px; max-width: 1200px;">

	<h2>Sitemap</h2><br>

	<a class="btn btn-secondary" href="#" role="button"><i class="fa fa-print"></i> Print</a>
	<a class="btn btn-secondary" href="#" role="button"><i class="fa fa-download"></i> Download PDF</a>

	<div class="sitemap">

		<ul id="utilityNav">
			
			
				<li><a href="#/preview/text-page/"><small>/text-page/</small><br> Sitemap</a>
			
				<li><a href="#/preview/text-page/"><small>/text-page/</small><br> Terms & Conditions</a>
			
				<li><a href="#/preview/text-page/"><small>/text-page/</small><br> Privacy Policy</a>
			
		</ul>

		<ul id="primaryNav" class="">
		    
		    	
			        <li><a href="#/preview/"><small>/</small><br> <span class="top-count">1</span> Home</a>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/text-page/"><small>/text-page/</small><br> <span class="top-count">2</span> About Us</a>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/how-it-works/"><small>/how-it-works/</small><br> <span class="top-count">3</span> How It Works</a>
			            
			                <ul>
			                    
			                        <li><a href><small>/how-it-works/</small><br> Shippers </a>
										
			                        </li>
			                    
			                        <li><a href><small>/how-it-works/</small><br> Carriers </a>
										
			                        </li>
			                    
			                </ul>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/text-page/"><small>/text-page/</small><br> <span class="top-count">4</span> Get Quotes</a>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/text-page/"><small>/text-page/</small><br> <span class="top-count">5</span> Find Trucks</a>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/membership/"><small>/membership/</small><br> <span class="top-count">6</span> Membership</a>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/blog/"><small>/blog/</small><br> <span class="top-count">7</span> Blog</a>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/blog/"><small>/blog/</small><br> <span class="top-count">8</span> News</a>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/text-page/"><small>/text-page/</small><br> <span class="top-count">9</span> Help</a>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/text-page/"><small>/text-page/</small><br> <span class="top-count">10</span> User Philosophy</a>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/text-page/"><small>/text-page/</small><br> <span class="top-count">11</span> Advertising</a>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/text-page/"><small>/text-page/</small><br> <span class="top-count">12</span> Escrow Pay Service</a>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/cargo-categories/"><small>/cargo-categories/</small><br> <span class="top-count">13</span> Cargo Categories</a>
			            
			                <ul>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Machinery Transport </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Heavy Haulage </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> General Freight </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Palletised Freight </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Car Transport </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Container Transport </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Truck Transport </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Furniture Removal </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Boat Transport </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Trailer Transport </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Hay Transport </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Grain Transport </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Portable Buildings </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Livestock Transport </a>
										
			                        </li>
			                    
			                        <li><a href><small>/cargo-categories/</small><br> Bulk Tipper Transport </a>
										
			                        </li>
			                    
			                </ul>
			            
			        </li>
		        
		    
		    	
			        <li><a href="#/preview/text-page/"><small>/text-page/</small><br> <span class="top-count">14</span> Contact Us</a>
			            
			        </li>
		        
		    
		    	
		    
		    	
		    
		    	
		    
		</ul>
	</div>

</div>

