---
layout: master
---

{% assign settings = site.data.settings %}
{% assign featured = site.data.sitemap[3].children | where: "featured", true %}

{% include hero.html %}



<br>


{% comment %}


<!-- STAGE -->
<section class="stage">
	<div class="container">
		<div class="row">
			{% for i in (1..2) %}
				<div class="col-md-6">
					<h2>H2. Header</h2>
					<p class="lv-dropcap">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<ul class="triangle-list">
						<li><a href="">test link</a></li>
						<li><a href="">test link</a></li>
						<li><a href="">test link</a></li>
						<li><a href="">test link</a></li>
						<li><a href="">test link</a></li>
					</ul>

					<ul class="">
						<li><a href="">test link</a></li>
						<li><a href="">test link</a></li>
						<li><a href="">test link</a></li>
						<li><a href="">test link</a></li>
						<li><a href="">test link</a></li>
					</ul>
				</div>
			{% endfor %}
		</div>

		<hr>

		<ul class="post-list list-unstyled">
		  {% for post in site.posts %}
		    <li>
		      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
		      <h2>
		        <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
		      </h2>
		    </li>
		  {% endfor %}
		</ul>

		<div class="spacer m-b-3"></div>

	</div>
</section>

<div class="jumbotron jumbotron-fluid m-b-0">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
{% endcomment %}
