---
layout: master
---

{% assign settings = site.data.settings %}
{% assign featured = site.data.sitemap[3].children | where: "featured", true %}

{% include hero/hero.html %}

<section class="feature-panels-wrapper">
	<div class="feature-panels">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-4">
	                <a href="#"><img src="/img/content/find-trucks-feature.jpg" alt=""></a>
	            </div>
	            <div class="col-md-4">
	                <a href="#"><img src="/img/content/get-quotes-feature.jpg" alt=""></a>
	            </div>
	            <div class="col-md-4">
	                <a href="#"><img src="/img/content/get-loads-feature.jpg" alt=""></a>
	            </div>
	        </div>
	    </div>
    </div>
</section>

<!-- FEATURE ICONS -->
<section class="section">
	<div class="container">
		<ul class="block-grid-xs-3 block-grid-md-5">
			<li><img width="100%" src="/img/content/feature-icon-1.png" alt="Find Transport &amp; Loads Fast"></li>
			<li><img width="100%" src="/img/content/feature-icon-2.png" alt="Australia Wide Coverage"></li>
			<li><img width="100%" src="/img/content/feature-icon-3.png" alt="0% Commission"></li>
			<li><img width="100%" src="/img/content/feature-icon-4.png" alt="Cutout the Middleman"></li>
			<li><img width="100%" src="/img/content/feature-icon-5.png" alt="Cutout the Middleman"></li>
		</ul>
	</div>
</section>

<!-- CARDS SECTION -->
<section class="section section-light">
	<div class="container">
		<h2 class="text-xs-center m-b-2">Discover Loadshift</h2>
		<div class="row">
			<div class="col-md-6">
				<p><img width="100%" src="/img/content/carrier.jpg" alt="Find Transport & Loads Fast"></p>
			</div>
			<div class="col-md-6">
				<p><img width="100%" src="/img/content/shipper.jpg" alt="Find Transport & Loads Fast"></p>
			</div>
		</div>
	</div>
</section>

<!-- VIDEO SECTION (repeated in shippers) -->
<section class="section section-dark inverse">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>Loadshift</h2>
				<h3>The Place Where Transport Does Business!</h3>
			</div>
			<div class="col-md-8">
				<iframe class=""
				        width="100%"
				        height="400"
				        frameborder="0"
				        src="https://www.youtube.com/embed/TkqLAkNK1vA?rel=0&amp;controls=0&amp;showinfo=1">
				</iframe>
			</div>
		</div>
	</div>
</section>

<!-- TESTIMONIALS -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>A Word From Our Users...</h2>

				<ul class="carousel">
					{% for item in site.data.testimonials %}
					<li>
						<blockquote class="blockquote">
							<p class="m-b-0">{{ item.body }}</p>
							<footer class="blockquote-footer pull-xs-right">
								<div class="text-xs-left">
									<b>{{ item.cite }}</b><br><cite title="Source Title">{{ item.cite_subtitle }}</cite>
								</div>
							</footer>
						</blockquote>
					</li>
					{% endfor %}
				</ul>

			</div>
			<div class="col-md-5 col-md-offset-1">
				<div class="text-xs-right">
					<p><a href="#"><img width="100%" src="/img/content/find-trucks-feature.jpg" alt=""></a></p>
				    <p><a href="#"><img width="100%" src="/img/content/get-quotes-feature.jpg" alt=""></a></p>
				    <p><a href="#"><img width="100%" src="/img/content/get-loads-feature.jpg" alt=""></a></p>
			    </div>
			</div>
		</div>
	</div>
</section>

{% include modal_login.html %}

{% comment %}

<!-- STAGE -->
<section class="stage">
	<div class="container">
		<div class="row">
		<div class="spacer m-b-3"></div>
	</div>
</section>

<div class="jumbotron jumbotron-fluid m-b-0">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


{% endcomment %}

