---
layout: master
---

{% assign settings = site.data.settings %}
{% assign featured = site.data.sitemap[3].children | where: "featured", true %}

{% include hero/hero.html %}

<section class="feature-panels-wrapper">
	<div class="feature-panels">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-4">
	                <a class="btn-promo" href="/text-page/">
	                    <span class="btn-promo-bg" style="background-image: url({{"/img/content/find-trucks-feature.jpg" | prepend: site.assets}});"></span>
	                    <div class="btn-promo-fill">
	                        <h3 class="btn-promo-header">
	                            <span class="text">Get<br> Quotes</span>
	                        </h3>
	                    </div>
	                </a>
	            </div>
	            <div class="col-md-4">
	                <a class="btn-promo" href="/text-page/">
	                    <span class="btn-promo-bg" style="background-image: url({{"/img/content/get-quotes-feature.jpg" | prepend: site.assets}});"></span>
	                    <div class="btn-promo-fill">
	                        <h3 class="btn-promo-header">
	                            <span class="text">Find<br> Trucks</span>
	                        </h3>
	                    </div>
	                </a>
	            </div>
	            <div class="col-md-4">
	                <a class="btn-promo" href="/text-page/">
	                    <span class="btn-promo-bg" style="background-image: url({{"/img/content/get-loads-feature.jpg" | prepend: site.assets}});"></span>
	                    <div class="btn-promo-fill">
	                        <h3 class="btn-promo-header">
	                            <span class="text">Get<br> Loads</span>
	                        </h3>
	                    </div>
	                </a>
	            </div>
	        </div>
	    </div>
    </div>
</section>

<!-- FEATURE ICONS -->
<section class="section">
	<div class="container">
		<ul class="block-grid-xs-3 block-grid-md-5">
			<li><img width="100%" src="/img/content/feature-icon-1.png" alt="Find Transport &amp; Loads Fast"></li>
			<li><img width="100%" src="/img/content/feature-icon-2.png" alt="Australia Wide Coverage"></li>
			<li><img width="100%" src="/img/content/feature-icon-3.png" alt="0% Commission"></li>
			<li><img width="100%" src="/img/content/feature-icon-4.png" alt="Cutout the Middleman"></li>
			<li><img width="100%" src="/img/content/feature-icon-5.png" alt="Cutout the Middleman"></li>
		</ul>
	</div>
</section>

<!-- DISCOVER LOADSHIFT -->
<section class="section section-light">
	<div class="container" style="max-width: 900px;">
		<h2 class="text-xs-center m-b-2 display-3">Discover Loadshift</h2>
		<div class="row">
			<div class="col-md-6">

				<!-- CARRIER -->
				<a href="/how-it-works/carriers/">
					<div class="card card-feature">
						<img class="card-img-top" width="100%" src="/img/content/carrier-i.jpg" alt="Carrier">
						<div class="card-block text-xs-center">
							<h3 class="h2 card-title m-b-0">Carriers</h3>
							<p class="card-text lead">Get Loads.</p>
							<span class="btn btn-primary btn-lg">Click here</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6">

				<!-- SHIPPER -->
				<a href="/how-it-works/shippers/">
					<div class="card card-feature">
						<img class="card-img-top" width="100%" src="/img/content/shipper-i.jpg" alt="Shipper">
						<div class="card-block text-xs-center">
							<h3 class="h2 card-title m-b-0">Shippers</h3>
							<p class="card-text lead">Get quotes &amp; find trucks.</p>
							<span class="btn btn-primary btn-lg">Click here</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

{% include section_intro_video.html %}
{% include testimonials.html %}