/*
    CAROUSEL.CSS

    - Last updated: 22.06.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Carousel
//-----------------------------------------------------------------

.bx-controls {
	margin-top: 20px;
	margin-bottom: 30px;

	.bx-pager-link {
		border-color: $brand-primary;
		background: white;

		&.active {
			background: $brand-primary;
			border-color: $brand-primary;
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================