/*
    CAROUSEL.CSS

    - Last updated: 22.06.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Carousel
//-----------------------------------------------------------------

.bx-controls {
	margin-top: 20px;
	margin-bottom: 30px;

	.bx-pager-link {
		border-color: $brand-primary;
		background: white;

		&.active {
			background: $brand-primary;
			border-color: $brand-primary;
		}
	}

	.bx-prev,
	.bx-next {
		display: inline-block;
		font-family: 'FontAwesome';
		font-size: rem-calc(25);
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		background: #eee;
		border-radius: 4px;
		margin: 0 4px 0 0;

		@include media-breakpoint-up(lg) {
		    &:hover {
		    	background: darken(#eee, 4%);
		    }
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================