/*
    FORMS.CSS

    - Last updated: 18.03.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	-webkit-appearance: none; // removes shadow on iOS
}

//-----------------------------------------------------------------
// Bootstrap Validation
//
// http://1000hz.github.io/bootstrap-validator/#validator-events
//-----------------------------------------------------------------

form[data-toggle="validator"] .error {
	display: none;
	width: 100%;
	padding: rem-calc(5 10);
	// background: $brand-danger;
	// color: white;
	color: $brand-danger;
	font-weight: bold;
	clear: both;
}

form[data-toggle="validator"] .has-error > .form-control {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

form[data-toggle="validator"] .has-error > .error {
	display: block;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.form-quote {

	.error {
		text-align: right;
	}

	&.form-quote-outlined {
		fieldset {
			box-shadow: 0px 6px 14px 2px rgba(0,0,0,0.1);
			border: 1px solid #ccc;
			padding: $spacer;
		}
	}

	label {
		// font-size: rem-calc(12);
	}

	.end {
		padding-top: $spacer-y;
		@include media-breakpoint-up(lg) {
			padding-top: 0;
		    padding-left: 0;
		}
	}
}

//-----------------------------------------------------------------
// Search Form Off Canvas
//-----------------------------------------------------------------

// .off-canvas-menu .search-form {
// 	::-webkit-input-placeholder { color: white; opacity: 1; }
// 	:-ms-input-placeholder { color: white; opacity: 1; }
// 	::-moz-placeholder { color: white; opacity: 1; }
// 	:-moz-placeholder { color: white; opacity: 1; }
// }

//=========================================
//
//=========================================