/*
    LISTS.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Lists
//-----------------------------------------------------------------

.block-list {
	list-style: none;
	padding: 0;


	li {
		border-bottom: 1px solid #ccc;
		padding: rem-calc(30 0);
	}

}

//=========================================
//
//=========================================

