/*
    SECTIONS.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------

.section {
	padding: rem-calc(40 0);
}

.section.inverse {
	h1, h2, h3, h4, h5, h6, p, a, ul, ol, hr, small { color: white; }

	.btn {
		background: #70C6EF;
		color: $brand-primary;

		&:hover {
			background: lighten(#70C6EF, 15%);
		}
	}
}

//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------

.section-dark {
	background: $brand-primary;
}

.section-light {
	background: $brand-tertiary;
}

//-----------------------------------------------------------------
// Sections - special case for section - blurs lines with hero?
//-----------------------------------------------------------------

.section-bg-1 {
	position: relative;
	background: url(../img/content/hero-2.jpg) no-repeat;
	width: 100%; // need
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: 1;

	@include media-breakpoint-down(xs) {
	    &:after {
	    	content: "";
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	width: 100%;
	    	height: 100%;
	    	background: rgba(white, 0.8);
	    	z-index: -1;
	    }
	}

	@include media-breakpoint-up(md) {
	    height: rem-calc(400);
	}
}

//=========================================
//
//=========================================