/*
    TYPE.CSS

    - Last updated: 16.03.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Responsive Typography
//-----------------------------------------------------------------

html {
	@include media-breakpoint-up(xs) { font-size: $font-size-xs; }
	// @include media-breakpoint-up(sm) { font-size: $font-size-sm; }
	// @include media-breakpoint-up(md) { font-size: $font-size-md; }
	@include media-breakpoint-up(lg) { font-size: $font-size-lg; }
	// @include media-breakpoint-up(xl) { font-size: $font-size-xl; }
}

//-----------------------------------------------------------------
// Missing from Bootstrap
//-----------------------------------------------------------------

// p, ul, ol {
// 	margin-bottom: rem-calc(24); // requested - should be in bootstrap
// }

h1, h2, h3, h4, h5, h6 {
	// font-variant: small-caps;
	text-transform: uppercase;
	font-weight: 600;
}

//-----------------------------------------------------------------
// Blockquote
//-----------------------------------------------------------------

.blockquote {
	border-left: none;
	margin-top: 30px;

	p:before {
		content: "“";
		line-height: 25px;
		font-size: 150px;
		color: #003c71;
		opacity: 0.5;
		font-family: "Times New Roman";
		vertical-align: bottom;
		-moz-transform: translateY(19px);
		-ms-transform: translateY(19px);
		-o-transform: translateY(19px);
		-webkit-transform: translateY(19px);
		transform: translateY(19px);
		display: inline-block;
		margin-right: 10px;
	}

	p:after {
		content: "”";
		line-height: 25px;
		font-size: 150px;
		color: #003c71;
		opacity: 0.5;
		margin-left: 10px;
		font-family: "Times New Roman";
		vertical-align: bottom;
		-moz-transform: translateY(40px);
		-ms-transform: translateY(40px);
		-o-transform: translateY(40px);
		-webkit-transform: translateY(40px);
		transform: translateY(40px);
		display: inline-block;
	}

	.blockquote-footer:before {
		display: none;
	}

	.blockquote-footer {
		position: relative;
		margin-top: 30px;
		font-size: rem-calc(16);
		color: #222;
	}

	.blockquote-footer b:before {
		position: absolute;
		left: -22px;
		content: "\2014 \00A0";
	}

	cite {
		font-style: normal;
	}
}

//-----------------------------------------------------------------
// Spacer
//-----------------------------------------------------------------

.spacer {
	width: 1px;
	height: 1px;
	clear: both;
}

//-----------------------------------------------------------------
// Headers with ICONS inside
//-----------------------------------------------------------------

.header-icon {
	display: table;

	i,
	.text {
		display: table-cell;
	}

	i {
		@include media-breakpoint-up(md) {
		    font-size: rem-calc(28);
		}
	}

	.text {
		padding-left: rem-calc(10);
	}
}

//-----------------------------------------------------------------
// Anchors
//-----------------------------------------------------------------

a:not(.logo),
.btn {
	@include transition();
}

// consider: http://stackoverflow.com/questions/27878304/css-darken-on-hover-with-unknown-color
// Use this instead of setting colors
// a:hover {
// 	opacity: 0.95;
// }

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================