/*
    VARIABLES.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Global Variables
//-----------------------------------------------------------------

//=========================================
// Topbar
//=========================================

$lv-topbar-height-small: 100px;
$lv-topbar-height-medium: 70px;

//=========================================
// Buttons
//=========================================

$lvb-button-color: saturate(darken(#EFF1F4, 5%), 10%); //#D5DAE6;

//=========================================
// App Menu
//=========================================

$app-menu-width-small: 280px;
$app-menu-width-medium: 320px; //370px;

$app-menu-toolbar-width: 55px;

//=========================================
// Stage
//=========================================

$lv-stage-top-offset: 8px;

//=========================================
// Footer
//=========================================

$lv-footer-height: 44px;