/*
    BUTTONS.CSS

    - Last updated: 07.07.16
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$lvb-button-color: saturate(darken(#EFF1F4, 5%), 10%) !default; //#D5DAE6;

//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.lv-tool-button {
    position: relative;
    display: inline-block;
    min-width: 44px;
    line-height: 30px;
    padding: rem-calc(0 12);
    border: 1px solid darken($lvb-button-color, 2%);
    border-bottom: 2px solid darken($lvb-button-color, 5%);
    margin: rem-calc(5);
    border-radius: 3px; //$global-radius;
    box-shadow: 0 1px 0px rgba(0,0,0,0.04);
    background: $lvb-button-color;
    font-size: rem-calc(14);
    color: desaturate(darken($lvb-button-color, 35%), 20%);
    outline: none;
    transition: background-color .10s linear;

    i {
        position: relative;
        top: 2px;
        height: 100%;
        font-size: rem-calc(20);
        line-height: 0;
    }

    //=========================================
    // increase hit area - magic nums
    //=========================================

    &:after {
        content: "";
        position: absolute;
        // background: rgba(red, 0.2);
        top: -4px;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
    }

    //=========================================
    // Hover
    //=========================================

    &:hover {
        background: lighten($lvb-button-color, 2%);
        border-color: darken($lvb-button-color, 1%);
        border-bottom: 2px solid darken($lvb-button-color, 5%);
        color: desaturate(darken($lvb-button-color, 35%), 20%);
    }

    &:focus {
        background: lighten($lvb-button-color, 2%);
        color: desaturate(darken($lvb-button-color, 35%), 20%);
    }

    //=========================================
    // Active
    //=========================================

    &:active {
        position: relative;
        top: 1px;
        box-shadow: none; //0 1px 0px rgba(0,0,0,0.04);
        border-bottom-width: 1px;
        transform: scale(0.99);
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Change look on mobile - create overlay mask button
//-----------------------------------------------------------------

.menu-is-open .lv-tool-menu-btn {
    @include media-breakpoint-down(sm) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%; // safe guard
        height: 100vh;
        background: rgba(black, 0.4);
        border: 0;
        margin: 3px;

        @keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

        opacity: 0;  /* make things invisible upon start */
        animation:fadeIn ease-in 1;
        animation-fill-mode:forwards;
        animation-duration: 1.0s;
        animation-delay: 0.05s;

        &:active {
            position: fixed;
            top: 0;
            transform: scale(1.0);
        }
    }
}

//=========================================
//
//=========================================

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------